{{- $bundle := partialCached "func/getJavascriptBundle" . }}
<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
{{- partial "search/scripts" . }}
{{- with site.Params.customJS }}
  {{- range . -}}
  <script type="text/javascript" src="{{ relURL . }}"></script>
  {{- end }}
{{- end }}

<!-- 评论脚本文件 -->
{{- $showComments := true }}
{{- if eq .Site.Params.comments false }}
  {{- $showComments = false }}
{{- else if eq .Params.comments false }}
  {{- $showComments = false }}
{{- end }}
{{- if ne $showComments false }}
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({
      el: '#waline', // Waline 被挂载到的元素
      serverURL: 'https://waline-1-p5865532.deta.app/', // Waline 的服务端地址
      lang: 'zh-CN', // 多语言支持
      commentSorting: 'latest', // 评论列表排序方式。可选值: 'latest', 'oldest', 'hottest'
      dark: 'html[data-mode="dim"]', // 暗黑模式适配
      reaction: true, // 表情互动
    });
  </script>
{{- end }}
