{{- $s := site.Params }}
{{- $p := .Params }}
{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}
<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  data-figures="{{ $p.figurePositionShow }}"
  {{ if .IsPage }}
    class="page"
  {{ else if .IsHome }}
    class="home"
  {{ end }}
  {{ with $s.enforceLightMode }}
    data-mode="lit"
  {{ end }}
  {{ with $s.enforceDarkMode }}
    data-mode="dim"
  {{ end -}}
>
  <head>
    {{- partial "head/index" . }}
    {{- partial "hooks/head-end" . }}
  </head>
  <body
    data-code="{{ $codeBlockConfig.max }}"
    data-lines="{{ $codeBlockConfig.lines }}"
    id="documentTop"
    data-lang="{{ .Lang }}"
  >
    {{- partial "header/index" . }}
    <main>
      <div class="grid-inverse wrap content">
      {{- block "main" . }}{{ end }}

      {{- if ( ne $p.sidebar false ) }}
        {{- partial "sidebar/index" . }}
      {{ end }}
      </div>
    </main>
    {{- partialCached "common/icons" . }}
    {{- partialCached "footer/index" . }}
    {{- partialCached "scripts/index" . }}
    {{- partialCached "hooks/body-end" . }}
    <!-- 必须放到最后在 （.Content 之下），因为这渲染钩子直到执行 .Content 之后才会被处理），否则.Page.Store.Get "hasMermaid"永远为false -->
    {{ if .Page.Store.Get "hasMermaid" }}
    <!-- 只有文章里写了 mermaid 才加载下面这些资源，节省性能 -->
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }}
  </body>
</html>
