<!-- scripts definition -->
{{ $variablesScriptPath := "js/variables.js" }}
{{ $variables := resources.Get $variablesScriptPath | resources.ExecuteAsTemplate (printf "%s/js/variables.js" .Lang) . }}

{{ $qrcodeScriptPath := "js/qrcode.js" }}
{{ $qrcode := resources.Get $qrcodeScriptPath | resources.ExecuteAsTemplate (printf "%s/js/qrcode.js" .Lang) . }}

{{ $functionsScriptPath := "js/functions.js" }}
{{ $functions := resources.Get $functionsScriptPath | resources.ExecuteAsTemplate $functionsScriptPath . }}

{{ $customScriptPath := "js/custom.js" }}
{{ if (fileExists "../../assets/js/custom.js") }}
  {{ $customScriptPath := "../../assets/js/custom.js" }}
{{ end }}
{{ $custom := resources.Get $customScriptPath | resources.ExecuteAsTemplate $customScriptPath . }}

{{ $mainScriptPath := "js/index.js" }}
{{ $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{ $bundlePath := (printf "%s/js/bundle.js" .Lang ) }}
{{ $bundle := slice $variables $qrcode $functions $main $custom | resources.Concat $bundlePath | resources.Fingerprint "sha512" }}

{{ return $bundle }}