{{- $s := .Site.Params }}
{{- $c := default .Site.Title .Site.Copyright  }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
    {{ partialCached "footer/component/math" . }}
{{- end }}
<footer class="footer">
    <div class="footer_inner wrap pale">
        <img src='{{ absURL (default $s.logo $s.footerLogo) }}' class="icon icon_2 transparent" alt="{{ $c }}">
        <p>{{ T "copyright" | markdownify }}&nbsp;©&nbsp;<span class="year"></span>&nbsp;{{ upper $c }}. {{ T "all_rights" | markdownify }}</p>
        {{- partialCached "footer/component/top" .}}
    </div>
</footer>
